# Telegram Bot Configuration
API_ID=23081466
API_HASH=dbc665db1489f9d3cfd8de4a52f1ad4b
BOT_TOKEN=7560919239:AAFHc6KibDYBt7eJ77sf53W2FFNPP9psb78
STORAGE_CHANNEL_ID=-1002046477002 # Numeric ID of your private storage channel
ADMIN_USER_ID=1764208280   # Your numeric Telegram User ID for notifications

# Web Application Configuration
WEB_APP_BASE_URL=http://localhost:5000 # Base URL for file links
FLASK_ADMIN_PASSWORD=root
FLASK_SECRET_KEY=a_very_strong_and_random_secret_key_for_flask_sessions

# MongoDB Configuration
MONGO_URI=mongodb+srv://FILESTORECLONE:FILESTORECLONE@dynamic.lzu6mpy.mongodb.net/?retryWrites=true&w=majority&appName=Dynamic
MONGO_DB_NAME=telegram_file_store